doctype html
html(lang='en')

	- const title = 'Geniusee Test task for HTML_CSS v.2'

	include layout/head

	body
		main.main
			include ../components/form/form

		// script's
		script(src='js/main.js')
