head
	// base meta
	meta(charset='utf-8')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='author', content='igorega@gmail.com')
	meta(name='description', content='Geniusee test work')
	meta(name='keywords', content='Geniusee')

	// disable link highlighting upon tap
	meta(name='msapplication-tap-highlight', content='no')

	// theme Color for Chrome, Firefox OS and Opera
	meta(name='theme-color', content='#111')

	// title
	title #{title}

	// favicon
	// link(rel='icon', type='image/png', href='img/favicon.png')

	// empty favicon
	link(rel='icon' href='data:,')

	// fonts
	link(rel='preconnect', href='https://fonts.googleapis.com')
	link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
	link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap', rel='stylesheet')

	// css
	link(rel='stylesheet', href='css/main.css')
