// @import 'base/fonts';

@import 'normalize';

// base
@import 'base/vars';
@import 'base/base';

// components
@import '../components/form/form';

.main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 6rem 1.5rem;
}
